# Project Files
.buildpath
.idea
.project
.settings
*.sublime-project
*.sublime-workspace
composer.phar

# OS Files
.DS_Store
Thumbs.db
._*
.nfs*
*~
*.bak

# Ruby
Gemfile.lock

# fuel
fuel/app/cache/*
fuel/app/logs/*
fuel/app/tmp/*
/fuel/app/config/crypt.php
/fuel/vendor
public/assets/cache/*

# dev
fuel/app/config/development/*
