[submodule "fuel/core"]
	path = fuel/core
	url = git://github.com/fuel/core.git
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = git://github.com/fuel/auth.git
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = git://github.com/fuel/oil.git
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = git://github.com/fuel/parser.git
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = git://github.com/fuel/email.git
[submodule "fuel/packages/casset"]
	path = fuel/packages/casset
	url = git://github.com/canton7/fuelphp-casset.git
[submodule "fuel/packages/authorizenet"]
	path = fuel/packages/authorizenet
	url = git://github.com/dmyers/fuel-authorizenet.git
[submodule "fuel/packages/less"]
	path = fuel/packages/less
	url = git://github.com/dmyers/fuel-less.git
